.form-container {
  margin-top: 3rem;
}

.connection__extra-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#input-button {
  margin: 1rem 0 4rem 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

#login-failed {
  padding: 1rem;
  border-radius: .2rem;
}
