
#inscription-title {
    text-align: center;
}

#inscription-info {
    text-align: center;
}

.inscription-area {
    margin-top: 10rem;
}

#form-inscription-submit {
    margin-top: 2rem;
}

footer {
    position: fixed;
    bottom: 0;
}
