.Countdown div {
  display: inline;
  background-color: #fff2c9;
  padding: 3px 5px;
  color: #424242;
  border: solid 1px #f5cb98;
}

.Countdown .NoImpact {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #424242;
}

@media (min-width: 550px) {
  .Countdown div {
    font-size: 2rem;
    margin: 5px;
  }
}

@media (max-width: 550px) {
  .Countdown div {
    font-size: 1rem;
    margin: 2px;
  }
}