#main-thematic {
    background: var(--primary-bg-color);
    text-justify: inter-word;
}

.main-thematic__content {
    max-width: 120rem;
    margin: 1rem auto;
    padding: 1rem;

    font-size: 2rem;
}

#credits-subtitle {
    text-align: center;
}

.main-thematic__content > ul {
    font-size: 1.4rem;
}

.main-thematic__content > ul > li {
    font-size: 1.4rem;
}

.main-thematic__text {
    padding: 4rem 0;
}

.main-thematic__text p {
    margin-bottom: 0;
}

.main-thematic__section {
    border: .2rem solid var(--primary-accent-color);
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.main-thematic__section + .main-thematic__section {
    margin-top: 4rem;
}

.main-thematic__section > h5 {
    font-size: 2.8rem;
}

@media (min-width: 480px) {
    #main-thematic p {
        text-align: justify;
    }
}
