
#team-editor-choice--area {

    padding-top: 2rem;

}

#team-editor-choice--disclaimer {
    margin: 1rem auto;
    max-width: 500px;
}

#team-editor-choice--action-bar {

    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
