
header, .header {
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: #fff2c9 !important;
}

.hero-content {
    display: block;
    width: 100%;
    height: 30rem;

    padding-top: 8rem;
    padding-bottom: 4rem;
    text-align: center;

    background-color: #f5cb98;

    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
}
