
.topic-area {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 3rem 0;
}

.topic-area.left {
    background-color: #f5cb98;
}

.topic-area.right {
    background-color: #fff2c9;
}

.topic-area__info {

    padding: 0 1rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    width: 100%;

    font-size: 2rem;
}

.topic-area.right > .topic-area__info {
    flex-direction: row-reverse;
}

.topic-area__info__img {
    width: 60rem;
    max-width: 50vw;
    max-height: 60rem;
    object-fit: contain;
    object-position: center;
    transition: transform .1s;
}

.topic-area__info__img:hover {
    transform: scale(.95);
    transition: transform .1s;
}

.topic-area__info__text {
    max-width: 60rem;
}

.topic-area__info__text > p {
    text-align: justify;
}

.topic-area__info__text > h2 {
    text-align: center;
}
