
#sponsors-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.sponsor-img {
    margin-left: .5rem;
    margin-right: .5rem;
    width: 4rem;
    height: 4rem;

    background-color: #fff2c9;

    border-radius: 50%;
}
