
#further-page {
    margin-bottom: 10rem;
}

.further-content {
    max-width: 1000px;
    margin: 0 auto;

    font-size: 1.5rem;
}

.further-content ul {
    padding-left: 1rem;
    list-style: inside;
}

.further-content ul li {
    padding: 1rem 0;
}

.further-sponsor:not(:first-child) {
    margin-top: 5rem;
}
