
#main-carousel {
    margin: auto;
    max-width: 80%;
}

li.BrainhubCarouselItem {
    background-color: #fff2c9;
    max-height: 500px;
}

li.BrainhubCarouselItem > img {
    max-width: 100%;
    max-height: 100%;
}

.BrainhubCarousel__arrows {
    background-color: #fff2c9 !important;
    color: black !important;
}

.BrainhubCarousel__arrows > span {
    border-color: black !important;
    opacity: 0.5;
}

.BrainhubCarousel__arrows:hover > span{
    opacity: 1.0;
}
