
#admin-users-page {
  padding: 10rem 10% 6rem 10%;
}

#admin-users-page > table {
  background-color: white;
  overflow: auto;
}

#admin-users-page button:disabled {
  visibility: hidden;
}

#admin-users-page td:hover {
  background-color: #ffebee;
}


#filter-table {
  background-color: #56b65a !important;
  border: #62bb66 !important;
  color: whitesmoke !important;
}
