
#team-card-list-area {
    display: flex;
    flex-direction: column;
}

.team-card {
    background-color: #f5cb98;
    font-size: 1.2rem;
}

.team-card-description {
    margin-bottom: .5rem;
}

.team-card-idea {
    margin-bottom: 1rem;
}
