
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

body {
  font-size: 1.6rem;
  background-color: #fff2c9 !important;
}

.tx-centered {
  text-align: center;
}

.tx-left {
  text-align: left;
}

.tx-right {
  text-align: left;
}

.get-started, .button-primary {
  background-color: #56b65a !important;
  border: #62bb66 !important;
  color: whitesmoke !important;
}

.form-container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 7rem 1rem 10rem 1rem;
}

.alert-danger {
  border: .1rem solid red;
}
