:root {
  --primary-bg-color : #f4f4f4;
  --primary-accent-color : #19a974;
  --primary-text-color : #0b0b0b;
  --secondary-text-color : #0b0b0b;

  /* --primary-bg-color : #f4f4f4; */
  /* --primary-accent-color : #19a974; */
}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

body {
  font-size: 1.6rem;
  background-color: var(--primary-bg-color) !important;
  color: var(--primary-text-color) !important;
}

.tx-centered {
  text-align: center;
}

.tx-left {
  text-align: left;
}

.tx-right {
  text-align: left;
}

.get-started, .button-primary {
  background-color: #56b65a !important;
  border: #62bb66 !important;
  color: whitesmoke !important;
}

.form-container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 7rem 1rem 10rem 1rem;
}

.alert-danger {
  border: .1rem solid red;
}

.on-green {
  color: var(--secondary-text-color) !important;
}

.on-white {
  color: var(--primary-text-color) !important;
}

p, h1, h2, h3, h4, h5, h6 {
  color: var(--primary-text-color) !important;
}